<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="shortcut icon" href="https://www.djangoproject.com/favicon.ico">
    <title>Django Channels</title>

  <!-- Bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

  <!-- Font-awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Alpine.js -->
    <script src="//unpkg.com/alpinejs" defer></script>
  </head>

  <body>
    <div class="container mt-6">
      <div class="columns is-centered">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStkRxKNzaP_3b5M5AEwy9mOf6-xNnmYXy83p7dM06iWnUT4J1uz9j4xXbPKIBRRfH7FC8&usqp=CAU">
      </div>
    <!-- notification -->
      <div class="notification is-primary">
        <h1>Boas-vindas ao Django Channels</h1>
        <p>Escolha uma sala.</p>
      </div>
      <div>
      <!-- START columns -->
        <div class="columns">
        <!-- 2 columns -->
        <!-- START column -->
          <div class="column">
            <div class="card">
              <div class="card-content">
                <a href="/chat/green/">Sala Green</a>
              </div>
            </div>
          </div>
        <!-- END column -->
        <!-- START column -->
          <div class="column">
            <div class="card">
              <div class="card-content">
                <a href="/chat/blue/">Sala Blue</a>
              </div>
            </div>
          </div>
        <!-- END column -->
        </div>
      <!-- END columns -->
      </div>
    </div>
  </body>

</html>